md-dialog.enviarcotizacion
    md-toolbar
        .md-toolbar-tools
            img(src="img/No_Foto.png")
            h1 Enviar cotización
    form(layout="column")
        .form-content(layout="row" )
            .info(layout="column" flex)
                h4 Brindanos tu información para que podamos hacerte llegar tu cotización
                md-input-container
                    label Nombre
                    input(ng-model="cotizacion.nombre" required)
                md-input-container
                    label Telefono
                    input(ng-model="cotizacion.telefono" required)
                md-input-container
                    label E-mail
                    input(ng-model="cotizacion.correo" required)
                md-input-container
                    label Dirección
                    input(ng-model="cotizacion.direccion" required)
                md-input-container
                    label Dirección
                    input(ng-model="cotizacion.ciudad" required)
            .productos(flex)
                md-list
                    md-subheader Productos a cotizar
                    md-virtual-repeat-container#vertical-container
                        md-list-item(md-virtual-repeat="producto in cotizacion.bolsa")
                            .md-list-item-text
                                p  {{producto.nombre}}
        .opciones(layout="row")
            md-button.ok(ng-click="submit(cotizacion)" md-colors="{background: 'green'}" flex)
                md-icon send
            md-button.cancelar(ng-click="close()" flex)
                md-icon clear
