.header-content(layout="row" layout-align="center center")
	.logo-container(flex="60" ui-sref="home")
		img(src="img/Logo2.png" hide-xs)
		img(src="img/No_Foto.png" hide-gt-xs)
	.slogan-container(flex="20")
		img(src="img/El_Placer_de_Elegir.png" hide-xs)
		md-button(hide-gt-xs ng-click="showPanel($event)")
			md-icon menu

.subheader(layout="row" layout-align="center center" hide-xs)
	md-nav-bar(md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" flex="60")
		md-nav-item(md-nav-sref="productos" name="productos" ng-class="{active: $state.current.name === 'productos'}") Productos
		md-nav-item(md-nav-sref="galeria" name="galeria" ng-class="{active: $state.current.name === 'galeria'}") Galería
		md-nav-item(md-nav-sref="promociones" name="promociones" ng-class="{active: $state.current.name === 'promociones'}") Promociones
		md-nav-item(md-nav-sref="catalogos" name="catalogos" ng-class="{active: $state.current.name === 'catalogos'}") Catálogos
		md-nav-item(md-nav-sref="ubicaciones" name="ubicaciones" ng-class="{active: $state.current.name === 'ubicaciones'}") Tiendas
		md-nav-item(md-nav-sref="nosotros" name="nosotros" ng-class="{active: $state.current.name === 'nosotros'}") ¿Porque nos prefieren?
