azulObscuro = #0B2347
gris = #373435
amarillo = #FFCC00
rojo = #F70F0F
verde = #99CC33
azul = #1C4A78

md-toolbar
    background-color azulObscuro !important

md-sidenav
    md-icon
        margin 20px
        color azulObscuro !important

.producto
    form
        margin 0px
        .md-button
            margin 0px
            border-radius 0px
            &.large
                width 100%
        .image-container
            .dropify-container
                .dropify-wrapper
                    padding 0px
                    margin 0px
                    border 0px
            .croppie-container
                display flex
                height inherit !important
                ng-croppie
                    height inherit !important
                    margin 0px
                    display inline-block
