header
    height: 100px;
    img
        height 70px
    .menu
        display: inline-flex;
        .navbutton
            padding: 12px;

.centro
    min-height calc(100vh - 150px)

.layout-row>div
    max-height inherit !important

md-dialog
    width: 50vw;
