blue = #286ea5
bluelight = #7ccbe2
bluedark = #226191
yellow = #FFB400
yellowdark = #eaa500
green = #4caf50
grey = #96A3B6
greylight = #e9f1f2
greydark = #596F7F

.subheader
    background-color bluelight
