
@font-face
    font-family school
    src url('/fonts/school.ttf')

@font-face
    font-family Nueu
    src url('/fonts/NeueHaasBold.ttf')

@font-face
    font-family Jenna
    src url('/fonts/JennaSue.ttf')

*
    font-family: 'Lato',sans-serif;


blue = #286ea5
bluelight = #7ccbe2
bluedark = #226191
yellow = #FFB400
yellowdark = #eaa500
green = #4caf50
grey = #96A3B6
greylight = #e9f1f2
greydark = #596F7F

gradient(firstcolor, secondcolor)
    background firstcolor
    background -webkit-linear-gradient(left, firstcolor, secondcolor)
    background -o-linear-gradient(right, firstcolor, secondcolor)
    background -moz-linear-gradient(right, firstcolor, secondcolor)
    background linear-gradient(to right, firstcolor, secondcolor)

h4
    padding  0 20px
    color greydark

header
    .header-content
        gradient bluelight bluedark
        width 100%
        height 50px
        md-icon
            width 80px
        .menu
            display inline-flex
            .navbutton
                padding 12px
            md-menu-bar
                md-menu
                    .md-button
                        color white
                        md-icon
                            color white
    .subheader
        width 100%
        height 50px
        background greylight

footer
    height 50px

.centro
    min-height calc(100vh - 150px)

.panel
    position absolute

md-toolbar
	background-color bluelight !important
    height 50px !important

md-sidenav
    md-icon
        margin 0 20px

md-dialog
    width 50vw
	&.login
        .socialmedia
            .fb
                background #475993
                md-icon
                    color white
                    margin 5px 0
            .alternativa
                display inline-flex
                width 90%
                margin 20px 5%
                &:after, &:before
                    width 100%
                    border-top 2px solid #226191
                    margin 15px 0px
                    content ''
                .circle
                    margin auto
                    border 2px solid #226191
                    border-radius 50px
                    min-width 20px
                    height 20px
                    padding 3px
                    text-align center
                    display flex
                    p
                        margin auto
        form
            margin 0px
            md-input-container
                margin 0px
            .md-button
                background bluelight
                md-icon
                    color white
                    margin 5px 0
                md-progress-circular
                    margin auto
                    path
                        stroke white
        .registro
            width 100%
            display flex
            .registro-content
                margin auto
                display flex
                p, strong
                    margin 20px 3px
                strong
                    color bluedark

md-chips
	strong
		margin-right 10px
	.md-button
		border-radius 50px
		padding 2px
		margin 2px
		border 0px
		height 27px
		min-height 27px
		width 27px
		min-width 27px
		md-icon
			color white

.panel
    pointer-events auto


animation(animation)
    -webkit-animation animation 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
    animation animation 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -webkit-transition all 1s ease-in-out
    -moz-transition all 1s ease-in-out
    -o-transition all 1s ease-in-out
    transition all 1s ease-in-out

.ng-hide-add.ng-hide-add-active
    animation fadeOut


.ng-hide-remove.ng-hide-remove-active
    animation fadeIn

.page
    &.ng-enter
        animation bounceInUp
    &.ng-leave
        animation fadeOut
