.catalogos
    md-grid-list(md-cols="12" md-row-height="150" md-gutter="2em")
        md-grid-tile.background-rojo(md-colspan="12" md-rowspan="2")
            img(src="img/catalogos/Header_Catalogos.png")
        md-grid-tile(md-colspan="2" md-rowspan="1" style="background-image:url(img/catalogos/Header_Catalogos.png)")
        md-grid-tile(md-colspan="2" md-rowspan="1" style="background-image:url(img/catalogos/Header_Catalogos.png)")
        md-grid-tile(md-colspan="2" md-rowspan="1" style="background-image:url(img/catalogos/Header_Catalogos.png)")
