.galeria
    md-grid-list(md-cols="10" md-cols-xs="5" md-cols-sm="5" md-row-height="250px" md-gutter="2em")
        md-grid-tile(md-colspan="10" md-colspan-xs="5" md-colspan-sm="5"  md-rowspan="1" style="background-image:url(img/Header_Galeria.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-01.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-02.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-03.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-04.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-05.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-06.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-07.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-08.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-09.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-10.png)")
        md-grid-tile(md-colspan="5" md-rowspan="2" style="background-image:url(img/galerias/nuevo-11.png)")
