.productos
    h1 Explora todos los productos
    md-grid-list(md-cols="5" md-row-height="75px")
        md-grid-tile(style="background-color: {{categoria.color}}" ng-repeat="categoria in categorias" md-colspan="1" md-rowspan="2" ui-sref="productos.filtro({categoria: categoria})")
            .img-container
                img(src="{{categoria.imagen}}")

main.page(ui-view="main")
