.promociones
    md-grid-list(md-cols="10" md-row-height="125px" md-gutter="2em")
        md-grid-tile(md-colspan="10" md-rowspan="2" md-rowspan-xs="1" md-rowspan-sm="1"  style="background-image:url(img/Header_Galeria.png)")
    img(src="img/promociones/promo.jpg")
    img(src="img/promociones/sss.jpg")
    img(src="img/promociones/promopr.jpg")
    img(src="img/promociones/promovr.jpg")
