.promociones
    md-grid-list(md-cols="10" md-row-height="225" md-gutter="2em")
        md-grid-tile(md-colspan="10" md-rowspan="2" md-rowspan-xs="1" md-rowspan-sm="1" style="background-image:url(img/ubicaciones/header.jpg)")
        md-grid-tile(md-colspan="10" md-rowspan="2" md-rowspan-xs="1" md-rowspan-sm="1" style="background-image:url(img/ubicaciones/mapa.png)")
    div(layout="row" layout-xs="column" layout-sm="column")
        div(flex="50" flex-xs="100" flex-sm="100")
            img(src="img/ubicaciones/Direcciones_Norte2.png")
        div(flex="50" flex-xs="100" flex-sm="100")
            img(src="img/ubicaciones/Direcciones.png")
