.promociones
    md-grid-list(md-cols="10" md-row-height="450px" md-gutter="2em")
        md-grid-tile(md-colspan="10" md-rowspan="1" style="background-image:url(img/ubicaciones/header.jpg)")
        md-grid-tile(md-colspan="10" md-rowspan="1" style="background-image:url(img/ubicaciones/mapa.png)")
    div(layout="row")
        div(lfeX="50")
            img(src="img/ubicaciones/Direcciones_Norte2.png")
        div(lfeX="50")
            img(src="img/ubicaciones/Direcciones.png")
